<!DOCTYPE html>

<html>
    <title>About</title>
    <head>
        <link rel="icon" href="/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/robot.png">
        </div>

        {{>footer}}
    </body>

</html>