<!DOCTYPE html>

<html>
    <title>Help</title>
    <head>
        <link rel="icon" href="/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p1>This is some helpful stuff</p1>
        </div>

         {{>footer}}

    </body>

</html>